html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
    background-color: #553A41;
    padding-bottom: 40px;
    padding-top: 25px;
}
footer {
    flex-shrink: 0;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left_upper_a {
    height: auto;
    width: auto;
    border-radius: 50%;
    margin: 5px 0px 5px 20px;
}
.left_upper_button {
    background-image: url(https://img.freepik.com/premium-vector/logo-camping-hiking-design_250207-1618.jpg?w=2000);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    cursor: pointer;
    transition: 15ms;
}
.left_upper_button:hover {
    transform: scale(1.1);
}
.left_upper_button:active {
    transform: scale(1.05);
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin: 10px 20px 10px 10px;
}
nav a{
    text-decoration: none;
    color: #191919;
}
nav button {
    border: none;
    font-size: 25px;
    cursor: pointer;
    background-color: white;
    transition: 15ms;
}
nav button:hover {
    transform: scale(1.1);
    border-bottom: 3px solid #191919;
}
nav button:active {
    transform: scale(1.05);
    border-bottom: 2px solid #191919;
}


.full_search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10% 0px 10%;
    height: 40px;
}
.full_search select {
    font-size: 25px;
    height: 54px;
    margin-left: 70px;
    width: 20%;
    padding-left: 3%;
    background-color: white;
    border: 2px solid black;
    transition: 15ms ease-in-out;
    cursor: pointer;
}
.full_search select:active {
    transform: scale(0.95);
}
.search_box {
    height: 50px;
    display: flex;
    width: 100%;
    border: 2px solid black;
}
.search_box:focus-within {
    border: 2px solid #BB7E8C;
}
.search_box:focus-within button {
    border-left: 2px solid #BB7E8C;
}
.search_box input {
    font-size: 25px;
    padding-left: 20px;
    border: none;
    width: 90%;
    height: 96%;
}
.search_box input:focus {
    outline: none;
}
.search_box button {
    border: none;
    background-color: white;
    width: 10%;
    height: 100%;
    border-left: 2px solid black;
    background-image: url(https://static.thenounproject.com/png/1594157-200.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.search_box button:hover {
    background-color: gray;
    cursor: pointer;
}
.search_box button:active {
    transform: scale(0.95);
}


.selections {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.selections div{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 30px 30px 30px 30px;
    padding: 10px 10px 10px 10px;
    transition: 20ms;
}
.selections div:hover {
    transform: scale(1.1)
}
.selections div:active {
    transform: scale(1.055);
}
.selections h2 {
    text-align: center;
    color: #E6E8E6;
}
.selections p {
    margin-top: 10px;
    text-align: center;
    font-size: 25px;
    width: 100%;
    color: #E6E8E6;
}
.selections img {
    width: 100%;
    height: auto;
}
.crossed {
    margin-right: 10px;
    font-size: 20px;
    color: #E6E8E6BF;
}



footer {
    padding-left: 50px;
    padding-right: 50px;
    color: white;
    background-color: #191919;
    display: flex;
    justify-content: space-between;
    align-items: center;
}