html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
}
footer {
    flex-shrink: 0;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img {
    margin: 10px 0px 10px 20px;
    height: auto;
    width: 75px;
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin: 10px 20px 10px 10px;
}
nav button {
    border: none;
    font-size: 25px;
}


.big_pic {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYn4sMGQJ-KIIlGFEZh-sJOYH_FO3JLoHQrg&s);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px; 
    width: 100%;
}
.text_pic {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #191919;
    min-height: 250px;
    min-width: 700px;
    border-radius: 20%;
    color: #E6E8E6;
}
.big_pic h1 {
    margin: 10px 0px 0px 0px;
    font-size: 50px;
    padding: 1px 1px 1px 1px;
}
.big_pic p {
    margin: 5px 0px 5px 0px;
    font-size: 25px;
}
.big_pic button {
    border-radius: 20%;
    height: 60px;
    width: auto;
    color: #E6E8E6;
    background-color: #BB7E8C;
    font-size: 25px;
    margin: 0px 0px 10px 0px;
    padding: 5px 10px 5px 10px;
    border: none;
    cursor: pointer;
}
.first_section {
    display: flex;
    flex-direction: column;
}
.first_section h1{
    font-size: 40px;
    padding-left: 30px;
    margin: 10px 0px 10px 0px;
    border-bottom: 1px solid black;
}
.first_selections {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.first_selections div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10px 10px 10px 10px;
    border: 1px solid black;
    padding: 10px 10px 10px 10px;
}
.second_section {
    display: flex;
    flex-direction: column;
}
.second_section h1 {
    border-bottom: 1px solid black;
}
.second_selections {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


footer {
    display: flex;
    flex-direction: column;
}
.first_bottom {
    border-top: 1px solid black;
    padding-left: 50px;
}
.second_bottom {
    padding-left: 50px;
    padding-right: 50px;
    color: white;
    background-color: #191919;
    display: flex;
    justify-content: space-between;
}